body, html{
  font-family: 'Rajdhani', sans-serif !important;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-with-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-with-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}